<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="box">
        <!-- {{mytext}} -->
        <!-- <input type="text" @input="handleInput">
         -->

        <!-- 双向绑定的指令  -->
        <!-- {{mytext}} -->
        <input type="text" v-model="mytext" @keyup.enter.ctrl="handleKeyup">

        <input type="text" @keyup.a="handleTest">

        <button @click="handleAdd">add</button>

        <ul>
            <li v-for="item,index in datalist">
                {{item}}

                <button @click="handleDel(index)">del</button>
            </li>

        </ul>

        <div v-show="datalist.length===0">暂无待办事项</div>
    </div>
    <script>
        var obj = {
            data() {
                return {
                    mytext: "",
                    datalist: ["11", "22", "33"],
                }
            },
            methods: {
                handleTest() {
                    console.log("test")
                },
                handleAdd() {
                    console.log("add", this.mytext)
                    this.datalist.push(this.mytext)

                    //清空输入框
                    this.mytext = ""
                },
                handleDel(index) {
                    console.log("del", index)

                    this.datalist.splice(index, 1)
                },
                handleKeyup(evt) {
                    // console.log(evt.keyCode)
                    this.handleAdd()
                }
                // handleInput(evt){
                //     // console.log("input",evt.target.value)
                //     this.mytext = evt.target.value
                // }
            }
        }
        var app = Vue.createApp(obj).mount("#box")
    </script>
</body>

</html>